.delete {
  display: flex;
  flex-direction: column;
  width: 35vw;
  gap: 16px;
  padding: 8px 2px 0 2px;
  border-top: 1px solid var(--gray-50);
  &__title {
    color: var(--gray-1000);
  }
  &__name {
    color: var(--colors-text-secondary-text);
  }
  &__field {
    border: 1px solid #f2f4f6;
    display: flex;
    flex-direction: column;
    padding: 8px;
    &-lable {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.5px;
      color: var(--colors-text-disabled-2);
    }
    &-value {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.5px;
      color: #494949;
    }
  }
}
