.main {
  background-color: white;
  margin-top: 24px;
  .nav-header {
    display: flex;
    padding: 16px;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid var(--color-bg-grey);

    .nav-header-content {
      display: flex;
      align-items: center;
      gap: 24px;

      .back-arrow {
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        cursor: pointer;
      }

      .pipeline-title {
        color: var(--colors-text-primary-text);
        font-family: var(--font-family-Roboto);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
    }
  }

  .stepper {
    .pipeline-actions {
      display: flex;
      padding: 12px 16px;
      justify-content: space-between;
      align-items: center;

      .right-buttons {
        display: flex;
        gap: 18px;
      }
    }
  }
}

::ng-deep app-accordion {
  width: 100%;
  display: flex;
  padding: 8px 0px;
  flex-direction: column;
  border-radius: 8px;
  background: var(--color-white-base);

  &.active {
    background: var(--color-bg-grey);

    .accordion-item {
      .accordion-header {
        background: var(--color-bg-grey) !important;
      }
    }
  }

  .accordion-item {
    margin: 0;
    border: none !important;

    .accordion-header {
      background: var(--color-white-base) !important;

      .left-section {
        .header-text {
          color: var(--extended-color-pallet-blue-primary-1000);
          font-family: var(--font-family-Roboto);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 145%;
          letter-spacing: 0.5px;
        }
      }
    }

    .accordion-content {
      .nested-input-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-left: 2%;
        margin: 0;

        .main-list-item {
          display: inline-flex;
          justify-content: left;
          column-gap: 8px;

          .actual-list-item {
            cursor: pointer;
            padding: 12px;
            margin: 2px 0px;
            border-radius: var(--field-radius, 4px);
            color: var(--colors-text-primary-text);
            font-family: var(--font-family-Roboto);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
            /* 20.3px */
            letter-spacing: 0.5px;
            width: 100%;
          }

          .internal-timeline {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5px 8px;

            .internal-vertical-link {
              border-left: 1.5px dotted var(--blue-brand-primary);
              width: 0px;
              height: 100%;
            }

            .hide-vertical-link {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}

.input-row {
  display: flex;
  padding: 16px 0px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  ada-input {
    flex: 1 0 0;
  }
}


.step-details {
  padding: 0 16px;
  section {
    padding: 8px;
    strong {
      color: #333344;

    }
  }

  .info-card {
    .card-title {
        padding: 16px;
        border-radius: 8px 8px 0px 0px;
        border-bottom: 1px solid var(--color-bg-grey);
        background: var(--color-bg-hovered);
        color: var(--colors-text-primary-text);
        font-family: var(--font-family-Roboto);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 145%;
        letter-spacing: 0.5px;
    }

    .card-content {
        padding: 12px 16px;
        border-radius: 0px 0px 8px 8px;

        a {
          color: var(--colors-text-primary-text);
        }
    }
}
}


.welcomeContainer {
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 8px;
  background: url("/assets/images/bg-welcome.png"),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ada-input {
    width: 380px;
  }
  &-welcome {
    color: var(--color-white, #fff);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
  }
  &-para {
    color: var(--color-white, #fff);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
  &-button {
    background-color: black !important;
  }
  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}