<div class="pipeline-flexbox">
    <div class="left-panel">
        <div class="connector" *ngFor="let step of steps; let i = index;" (click)="onClick(i)">
            <div class="vertical-connector-gen">
                <img class="stepper-circle" height="20px" width="20px"
                    [src]="step.completed?'/assets/icons/ic_stepper_circle_checked.svg':'/assets/icons/ic_stepper_circle.svg'"
                    alt="Connector dot" />
                <div class="lower-link" [class.hide_vertical_link]="i==(steps.length-1)"
                    [class.completed]="step.completed"></div>
            </div>
            <ng-container *ngIf="step.stepLabel; else showLabelText" [ngTemplateOutlet]="step.stepLabel.template"
                [ngTemplateOutletContext]="{activeStep:selectedIndex === i}">
            </ng-container>
            <ng-template #showLabelText>
                {{ step.label }}
            </ng-template>
        </div>
    </div>
    <div class="right-panel">
        <div class="rendered-step">
            <ng-container [ngTemplateOutlet]="selected?selected.content:null"></ng-container>
        </div>
    </div>
</div>