* {
	font-family: 'Roboto';
}

.body-3-14-regular {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 145%;
	letter-spacing: 0.5px;
}
.body-3-14-bold {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 145%;
	letter-spacing: 0.5px;
}

.body-4-12-regular {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.5px;
}

.text-medium {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
}
.text-normal {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.body-2-16-regular {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.5px;
}

.caption {
	font-weight: 400;
	font-size: 14px;
	line-height: 18.2px;
	letter-spacing: 0.5px;
}
